<%= form_for(@checking) do |f| %>
  <% if @checking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checking.errors.count, "error") %> prohibited this checking from being saved:</h2>

      <ul>
      <% @checking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
