<p id="notice"><%= notice %></p>

<h1>借还记录</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>状态</th>
      <th>用户</th>
      <th>书目</th>
      <th>时间</th>
    </tr>
  </thead>

  <tbody class="table-striped">
    <% @checkings.each do |checking| %>
      <tr>
        <td>
          <% if checking.status == 'in'%>
            还书
          <% else %>
            借书
          <% end %>
        </td>
        <td><%= checking.user.name %></td>
        <td>《<%= checking.books.first.title %>》</td>
        <td><%= checking.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <a class="btn btn-default" href="/books" role="button">回到主页</a>
<div>