<% @books.each do |book| %>
  <div class="horizontal-block row">
    <div class="outer-layer row">
      <div class="book book-picture col-md-2">
        <img class="picture" src=<%= book.image%> width="100px" height="150px">
      </div>

      <div class="book info col-md-8">
        <div class="title-author">  
          <h4>《<%= book.title%>》--- <%= book.author.slice(2..-3)%></h4>
        </div>
        <div class="description">
          <p>简介：<%= book.description.slice(0..200)%>...<a>（详细）</a></p>
        </div>
      </div>

      <div class="book options col-md-2">
        <button class="btn btn-primary btn-block">借阅</button>
        <button class="btn btn-default btn-block">历史记录</button>
        <button class="btn btn-danger btn-block">删除</button>
      </div>
    </div>
  </div>
<% end %>