<p id="notice"><%= notice %></p>
<p><%= flash[:danger]%></p>
<h1 class="header">书库</h1>

<form class="form-inline">
  <div class="form-group">
    <label class="control-label">搜索：</label>
  </div>

  <div class="form-group btn-group">
    <button type="button" 
            class="btn btn-default dropdown-toggle" 
            data-toggle="dropdown" 
            data-type="YiBoNum"
            aria-haspopup="true" 
            aria-expanded="false">
      <span class="text">益博码</span><span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li data-type="YiBoNum"><a>益博码</a></li>
      <li data-type="isbn"><a>ISBN</a></li>
      <li data-type="title"><a>书名</a></li>
      <li data-type="author"><a>作者</a></li>
      <li data-type="description"><a>内容</a></li>
      <li data-type="tags"><a>标签</a></li>
    </ul>
  </div>

  <div class="form-group search-field">
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <button class="btn btn-primary" id="search-button" type="button" remote="true">搜索</button>
  </div>
</form>

<div class="divider"></div>

<div id="books_grid">
  <%= render 'books'%>
</div>

<%= will_paginate %>


