<h1 id="header" class="header">录入新书</h1>

<p><%= flash[:notice]%></p>

<form class="form-horizontal">
  <legend>ISBN码</legend>
  <div>
	<input type='text' class='form-control' value='<%= params[:isbn] %>' name='isbn' placeholder='isbn' />
  </div>
</form>

<%= link_to 'Back', books_path %>

<p><%= render 'form' %></p>