// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header 
{
	color:"red";
}

.block
{
	border-style: solid;
	border-color: #c2c2d6;
    border-width: 1px;
    padding: 5px;
    width: 25%;
    height: 250px;
    float: left;
}

.user-books-section
{
	display: inline;
}

.user-section
{
	border-right-style: dashed;
	border-color: #9494b8;
	border-width: 2px;
	width: 25%;
	float:left;
}

.book-section
{
	padding: 5px;
	float:left;
	width: 75%;
	display: inline;
}

.highlight
{
	color: #c2c2d6;
}